.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 1000px;
  height: 1000px;
  justify-content: center;
  border-style: double;
  border-color: #dfa73f;
}


.picfirst {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-image: url('https://avatars.mds.yandex.net/i?id=9d3e509b755fdc372e9c99886ce8e956ca0fcbf7-8427500-images-thumbs&n=13');
  border-radius: 10px;
}

.picsecond {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: rgb(0, 0, 0);
  background-image: url('https://avatars.mds.yandex.net/i?id=6b78883307eaf1f9504b309695467de6b2a92e16-4323870-images-thumbs&n=13');
  background-size: cover;
  border-radius: 10px;

}

.picthird {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: rgb(0, 0, 0);
  background-image: url('https://avatars.mds.yandex.net/i?id=dd448866f2e24ec09a1d908477874144ede60435-5220482-images-thumbs&n=13');
  background-size: cover;
  border-radius: 10px;

}

.info {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  /* text-align: justify;*/

}



span {
  font-family: "DotGothic16", sans-serif;
  font-size: 19.4px;
  color: #dfa73f;
}

p {
  font-family: "Press Start 2P", system-ui;
  font-size: 70px;
  color: #dfa73f;
}




body {
  background-color: black;
  display: grid;
  place-items: center;
}

.ok {
  font-family: "DotGothic16", sans-serif;
  font-size: 15px;
  width: 300px;
  border-radius: 5px;
  gap: 10px;
  height: 35px;
  background-color: #dfa73f;
}
 

.list {
  display: grid;
  width: 1000px;
  height: 1000px;
  justify-content: center;
  background-color: black;
}